@page "/not-found"

@using global::Documentation.Components.Layout
@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Typography

@layout MainLayout

<PageTitle>Not Found</PageTitle>

<div class="component-page__wrapper">
    <div class="component-page__content">
        <div class="component-page__header">
            <div class="flex items-center justify-between mb-2">
                <Heading level="1" size="@Size.Large">Not Found</Heading>
            </div>
            <Paragraph>
                Sorry, the content you are looking for does not exist.
            </Paragraph>
        </div>
    </div>
</div>
