.ds-popover {
  &[data-placement="top"]:before,
  &[data-placement="top-start"]:before,
  &[data-placement="top-end"]:before {
    rotate: 45deg;
  }

  &[data-placement="left"]:before,
  &[data-placement="left-start"]:before,
  &[data-placement="left-end"]:before {
    rotate: -45deg;
  }

  &[data-placement="right"]:before,
  &[data-placement="right-start"]:before,
  &[data-placement="right-end"]:before {
    rotate: 135deg;
  }

  &[data-placement="bottom"]:before,
  &[data-placement="bottom-start"]:before,
  &[data-placement="bottom-end"]:before {
    rotate: -135deg;
  }
}
