/* 
  Supplementary styles for popovers to add an arrow.
  Based on the original implementation from @digdir
*/
.ds-popover[data-placement="top"]:before,
.ds-popover[data-placement="top-start"]:before,
.ds-popover[data-placement="top-end"]:before {
  rotate: 45deg;
}

.ds-popover[data-placement="left"]:before,
.ds-popover[data-placement="left-start"]:before,
.ds-popover[data-placement="left-end"]:before {
  rotate: -45deg;
}

.ds-popover[data-placement="right"]:before,
.ds-popover[data-placement="right-start"]:before,
.ds-popover[data-placement="right-end"]:before {
  rotate: 135deg;
}

.ds-popover[data-placement="bottom"]:before,
.ds-popover[data-placement="bottom-start"]:before,
.ds-popover[data-placement="bottom-end"]:before {
  rotate: -135deg;
}
