@using Hviktor.Components.Icon
@using Hviktor.Components.Link
@using Hviktor.Icons.Types

<HyperLink href="https://designsystemet.no/slack">
    <Icon Definition="@IconSet.Chat2" height="1.5rem" width="1.5rem"/>
    <span>Talk to us on Slack</span>
</HyperLink>
