@namespace Pagination
@inherits Hviktor.Models.NestedComponentBase<Hviktor.Components.Pagination.Pagination>

<li @attributes="@(ComputeAttributes())">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
</li>
