@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Button

<Button size="@Size.Small">Small</Button>
<Button size="@Size.Medium">Medium</Button>
<Button size="@Size.Large">Large</Button>
