@using Hviktor.Components.Button

<Button disabled variant="primary" color="accent">Accent</Button>
<Button disabled variant="primary" color="brand1">Brand1</Button>
<Button disabled variant="primary" color="brand2">Brand2</Button>
<Button disabled variant="primary" color="brand3">Brand3</Button>
<Button disabled variant="primary" color="neutral">Neutral</Button>
<Button disabled variant="primary" color="danger">Danger</Button>
