@using Hviktor.Components.Button
@using Hviktor.Components.Icon
@using Hviktor.Icons.Types

<Button variant="primary" color="accent" icon>
    <Icon Definition="@IconSet.PencilWriting"/>
</Button>
<Button variant="primary" color="accent">
    <Icon Definition="@IconSet.PencilWriting"/>
    Edit
</Button>
