@using Hviktor.Components.Button

<Button variant="primary" loading>
    Loading…
</Button>
<Button variant="secondary" loading>
    Loading…
</Button>
<Button variant="tertiary" loading>
    Loading…
</Button>