@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Button

<Button variant="@Variant.Primary">Primary</Button>
<Button variant="@Variant.Secondary">Secondary</Button>
<Button variant="@Variant.Tertiary">Tertiary</Button>
