@using Hviktor.Components.Field
@using Hviktor.Components.Input
@using Hviktor.Components.Typography

<Field>
    <Label>Social Security Number</Label>
    <Input readOnly value="12345678901"/>
</Field>
