@charset "UTF-8";

body {
    font-family: var(--ds-font-family), ui-sans-serif;
}

.test-group {
    display: flex;
    gap: calc(var(--spacing) * 2);
}

.page {
    /* Nothing */
}

.content {
    padding-inline: 1rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-4 {
    gap: 1rem;
}

.header-menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 99;
    background: var(--ds-color-accent-background-tinted);

    & .header-icon-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

#header-icon {
    background: var(--ds-color-accent-background-default);
    border-radius: 0.375rem;
    padding: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--ds-color-accent-text-default);
}

.header-menu-bar-toggle,
.header-menu-bar-toggle--hidden {
    display: none;
}

#header-menu-button-toggle-menu > li > a {
    text-decoration: none;
}

#header-menu-button-toggle-menu > li > a:hover {
    text-decoration: underline var(--ds-color-neutral-border-default) 2px;
}

#header-menu-button-toggle-menu > li > a:visited {
    color: var(--ds-color-neutral-text-default);
}

@media (max-width: 1100px) {
    .header-menu-bar {
        gap: 0.5rem;
    }

    .header-menu-bar:has(#header-menu-button-toggle-menu.open) #header-close {
        display: inline-flex;
    }

    .header-menu-bar:has(#header-menu-button-toggle-menu.open) #header-bars {
        display: none;
    }

    .header-menu-bar:not(:has(#header-menu-button-toggle-menu.open)) #header-close {
        display: none;
    }

    .header-menu-bar:not(:has(#header-menu-button-toggle-menu.open)) #header-bars {
        display: inline-flex;
    }

    #header-menu-button-toggle-menu {
        display: none;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        border-top: 1px solid var(--ds-color-neutral-border-default);
        background-color: var(--ds-color-neutral-background-default);
        flex-direction: column;
        padding: 1rem 0;
        gap: var(--spacing-2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    #header-menu-button-toggle-menu.open {
        display: flex;
    }

    #header-menu-button-toggle-menu > li {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }

    #header-menu-button-toggle-menu > li > a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }
}

