@using Hviktor.Components.Fieldset
@using Hviktor.Components.Radio

<Fieldset>
    <Fieldset.Legend>Contact by email?</Fieldset.Legend>
    <Fieldset.Description>
        Confirm whether you would like to be contacted by email.
    </Fieldset.Description>
    <div class="flex flex-wrap gap-6">
        <Radio name="my-inline" label="Yes" value="yes"/>
        <Radio name="my-inline" label="No" value="no"/>
    </div>
</Fieldset>
