@inherits Hviktor.Models.AsyncCascadingComponentBase

<div @attributes="@(ComputeAttributes())">
    @if (ChildContent is not null)
    {
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    }
</div>