@using Hviktor.Components.Field
@using Hviktor.Components.Search
@using Hviktor.Components.Typography

<Field>
    <Label>Search for cats</Label>
    <Search>
        <Search.Input name="cat-search"/>
        <Search.Clear/>
        <Search.Button>Search</Search.Button>
    </Search>
</Field>