@using Hviktor.Components.Divider
@using Hviktor.Components.Search

<div class="flex flex-col gap-4">
    <Search>
        <Search.Input aria-label="Søk"/>
        <Search.Clear/>
    </Search>

    <Divider class="mt-"/>

    <Search>
        <Search.Input aria-label="Søk"/>
        <Search.Clear/>
        <Search.Button>Search</Search.Button>
    </Search>

    <Divider class="mt-"/>

    <Search>
        <Search.Input aria-label="Søk"/>
        <Search.Clear/>
        <Search.Button variant="secondary">Search</Search.Button>
    </Search>
</div>
