@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Typography

<div class="flex flex-col gap-2 w-full">
    <Heading level="2" size="@Size.ExtraSmall" class="mb-2">
        How to do it:
    </Heading>

    <List.Ordered>
        <List.Item>Pat the chicken breasts dry before seasoning and frying</List.Item>
        <List.Item>Add salt and pepper to the breasts</List.Item>
        <List.Item>Fry the breasts on high heat for two minutes on each side</List.Item>
    </List.Ordered>
</div>