@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Typography

<div class="flex flex-col gap-2 w-full">
    <Heading level="2" size="@Size.ExtraSmall" class="mb-2">
        The association is required to have an auditor if it has
    </Heading>

    <List.Unordered>
        <List.Item>an average number of employees equivalent to ten full-time positions or more</List.Item>
        <List.Item>a balance sheet total of 27 million kroner or more</List.Item>
        <List.Item>operating income of 35 million kroner or more</List.Item>
    </List.Unordered>
</div>