@page "/component/compliance/switch/description"
@using Hviktor.Components.Switch

<main data-testid="compliance-container">
    <section aria-label="Switch with description">
        <Switch Id="switch-with-description"
                Label="Switch with description"
                Description="This is a helpful description for the switch"
                data-testid="with-description"/>
    </section>

    <section aria-label="Switch without description">
        <Switch Id="switch-without-description"
                Label="Switch without description"
                data-testid="without-description"/>
    </section>
</main>
