@namespace Dropdown
@using Hviktor.Components.Spinner
@inherits Hviktor.Models.TriggerBase

<button @ref="ElementRef" @attributes="@(ComputeAttributes())">
    @if (Loading)
    {
        <Spinner/>
    }
    @if (ChildContent is not null)
    {
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    }
</button>