@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Button
@using Hviktor.Components.Icon
@using Hviktor.Components.Tooltip
@using Hviktor.Icons.Types

<Tooltip content="Copy" placement="@Placement.Top">
    <Button icon aria-label="Copy">
        <Icon Definition="@IconSet.Files" aria-hidden="true"/>
    </Button>
</Tooltip>
