@charset "UTF-8";
@use "mixins/layers/dark" as dark;
@use "mixins/layers/light" as light;

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer ds.theme.color-scheme.light {
  :root,
  [data-color-scheme="light"] {
    @include light.layer();
    color-scheme: light;
  }
}

@layer ds.theme.color-scheme.dark {
  [data-color-scheme="dark"] {
    @include dark.layer();
    color-scheme: dark;
  }
}

@layer ds.theme.typography.primary {
  :root,
  [data-typography="primary"] {
    --ds-font-family: "Albert Sans", sans-serif;
    --font-family-monospace:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
  }
}

@layer ds.theme.typography.secondary {
  [data-typography="secondary"] {
    --ds-font-family: "Albert Sans", sans-serif;
    --font-family-monospace:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
  }
}

.ds-link :is(img, svg) {
  display: inline;
}
