@use "mixins/tailwind" as tailwind;

$directions: global, left, right, top, bottom, x, y;
$from: 0;
$to: 8;
$increment: 2;

// margin
@include tailwind.generate-spacing-utility(
  margin,
  $directions,
  $from,
  $to,
  $increment
);
// padding
@include tailwind.generate-spacing-utility(
  padding,
  $directions,
  $from,
  $to,
  $increment
);
// gap
@include tailwind.generate-spacing-utility(gap, global, $from, $to, $increment);
