@using Hviktor.Components.Avatar
@using Hviktor.Components.AvatarStack

<div class="flex flex-wrap gap-8">
    <fieldset>
        <legend>avatarSize='var(--ds-size-8)'</legend>
        <AvatarStack avatarSize="var(--ds-size-8)">
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
        </AvatarStack>
    </fieldset>
    <fieldset>
        <legend>avatarSize='3em'</legend>
        <AvatarStack avatarSize="3em">
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
        </AvatarStack>
    </fieldset>
    <fieldset>
        <legend>avatarSize='clamp(2rem, 1.5rem + 2vw, 4rem)'</legend>
        <AvatarStack avatarSize="clamp(2rem, 1.5rem + 2vw, 4rem)">
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
        </AvatarStack>
    </fieldset>
</div>
