@using Hviktor.Components.Avatar
@using Hviktor.Components.AvatarStack

<div class="flex flex-wrap gap-4">
    <fieldset>
        <legend>expandable</legend>
        <AvatarStack expandable>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
        </AvatarStack>
    </fieldset>
    <fieldset>
        <legend>expandable="fixed"</legend>
        <AvatarStack expandable="fixed">
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat1.webp" alt=""/>
            </Avatar>
            <Avatar aria-label="">
                <img src="assets/img/cats/cat6.webp" alt=""/>
            </Avatar>
        </AvatarStack>
    </fieldset>
</div>