@using Hviktor.Components.Field
@using Hviktor.Components.Input
@using Hviktor.Components.Typography

<Field position="end">
    <Label>Airplane mode</Label>
    <Input type="checkbox" role="switch"/>
</Field>