@using Hviktor.Components.Field
@using Hviktor.Components.Textarea
@using Hviktor.Components.Typography

<Field>
    <Label>Add a description</Label>
    <Textarea rows="2"></Textarea>
    <Field.Counter limit="10"/>
</Field>
