@using Hviktor.Components.Field
@using Hviktor.Components.Input
@using Hviktor.Components.Typography

<Field>
    <Label>How many pounds does it cost per month?</Label>
    <Field.Affixes>
        <Field.Affix>GBP</Field.Affix>
        <Input/>
        <Field.Affix>per month</Field.Affix>
    </Field.Affixes>
</Field>