@using Hviktor.Components.Textarea
@using Hviktor.Components.Typography

<div class="flex flex-col gap-4 w-full">
    <Label htmlFor="my-textarea">Label</Label>
    <Textarea id="my-textarea"></Textarea>
</div>
