@using Hviktor.Components.Table

<Table zebra>
    <caption>Number of applications per month</caption>
    <Table.Head>
        <Table.Row>
            <Table.HeaderCell>Month</Table.HeaderCell>
            <Table.HeaderCell>2023</Table.HeaderCell>
            <Table.HeaderCell>2024</Table.HeaderCell>
        </Table.Row>
    </Table.Head>
    <Table.Body>
        <Table.Row>
            <Table.HeaderCell scope="row">January</Table.HeaderCell>
            <Table.Cell>1 230</Table.Cell>
            <Table.Cell>1 450</Table.Cell>
        </Table.Row>
        <Table.Row>
            <Table.HeaderCell scope="row">February</Table.HeaderCell>
            <Table.Cell>980</Table.Cell>
            <Table.Cell>1 120</Table.Cell>
        </Table.Row>
        <Table.Row>
            <Table.HeaderCell scope="row">March</Table.HeaderCell>
            <Table.Cell>1 150</Table.Cell>
            <Table.Cell>1 300</Table.Cell>
        </Table.Row>
    </Table.Body>
</Table>
