@using Hviktor.Components.Divider
@using Hviktor.Components.Typography

<div>
    <Paragraph>
        Divider is used to divide content into smaller sections.
    </Paragraph>
    <Divider/>
    <Paragraph>
        It can also be used to separate content related to each other.
    </Paragraph>
</div>
