@using Hviktor.Components.Card
@using Hviktor.Components.Typography

<Card data-color="neutral" asChild>
    <a href="https://designsystemet.no" rel="noopener noreferrer">
        <Heading>Link Card with asChild</Heading>
        <Paragraph>
            Most provide as with carried business are much better more the
            perfected designer.
        </Paragraph>
    </a>
</Card>
