body:has(dialog#dotnet-compile-error-ui[open]) {
  overflow: hidden;
}

#dotnet-compile-error {
  display: none !important;
}

#dotnet-compile-error-ui {
  z-index: 1000000;

  .dotnet-compile-error-ui-failed {
    color: var(--ds-color-danger-base-default);
    @mixin svg;

    svg {
      @mixin animation;
      @mixin animation-svg;
      @mixin failure-animation-svg;
    }
  }
}
