@page "/component/compliance/chip/checkbox"

<main data-testid="compliance-container">
    <section aria-label="Chip Checkbox unchecked">
        <Chip.Checkbox name="checkbox-1" value="option1" data-testid="checkbox-unchecked">Unchecked Checkbox
        </Chip.Checkbox>
    </section>

    <section aria-label="Chip Checkbox checked">
        <Chip.Checkbox name="checkbox-2" value="option2" checked="true" data-testid="checkbox-checked">Checked
            Checkbox
        </Chip.Checkbox>
    </section>

    <section aria-label="Chip Checkbox default checked">
        <Chip.Checkbox name="checkbox-3" value="option3" checked="true" data-testid="checkbox-default-checked">Default
            Checked
        </Chip.Checkbox>
    </section>
</main>
