@page "/component/compliance/chip/button"

<main data-testid="compliance-container">
    <section aria-label="Chip Button default">
        <Chip.Button data-testid="button-default">Default Chip</Chip.Button>
    </section>

    <section aria-label="Chip Button with value">
        <Chip.Button Value="chip-value" data-testid="button-with-value">Chip with value</Chip.Button>
    </section>

    <section aria-label="Chip Button with name">
        <Chip.Button Name="chip-name" data-testid="button-with-name">Chip with name</Chip.Button>
    </section>
</main>
