@page "/component/compliance/chip/checkbox"

<main data-testid="compliance-container">
    <section aria-label="Chip Checkbox unchecked">
        <Chip.Checkbox Name="checkbox-1" Value="option1" data-testid="checkbox-unchecked">Unchecked Checkbox</Chip.Checkbox>
    </section>

    <section aria-label="Chip Checkbox checked">
        <Chip.Checkbox Name="checkbox-2" Value="option2" Checked="true" data-testid="checkbox-checked">Checked Checkbox</Chip.Checkbox>
    </section>

    <section aria-label="Chip Checkbox default checked">
        <Chip.Checkbox Name="checkbox-3" Value="option3" DefaultChecked="true" data-testid="checkbox-default-checked">Default Checked</Chip.Checkbox>
    </section>
</main>
