@page "/component/compliance/chip/removable"

<main data-testid="compliance-container">
    <section aria-label="Chip Removable default">
        <Chip.Removable data-testid="removable-default" aria-label="Remove default chip">Removable Chip</Chip.Removable>
    </section>

    <section aria-label="Chip Removable with value">
        <Chip.Removable Value="removable-value" data-testid="removable-with-value" aria-label="Remove chip with value">Removable with value</Chip.Removable>
    </section>
</main>
