@using Hviktor.Components.Card
@using Hviktor.Components.Dialog
@using Hviktor.Components.Spinner

@if (!isModal)
{
    <Card @attributes="@(ComputeAttributes())">
        <span class="loader-content">
            <Spinner/>
            @ChildContent
        </span>
    </Card>
}
else
{
    <Dialog @ref="@DialogRef" @attributes="@(ComputeAttributes())" closedby="none" CloseButton="false">
        <Dialog.Block class="loader-content">
            <Spinner/>
            @ChildContent
        </Dialog.Block>
    </Dialog>
}
