@* ReSharper disable once CheckNamespace *@
@namespace Field
@inherits Hviktor.Models.NestedComponentBase<Hviktor.Components.Field.Field>

<div @attributes="@(ComputeAttributes())">
    @ChildContent
</div>