@page "/component/compliance/list/basic"

<main data-testid="compliance-container">
    <section aria-label="Basic unordered list" data-testid="unordered-basic">
        <List.Unordered>
            <List.Item>First item</List.Item>
            <List.Item>Second item</List.Item>
            <List.Item>Third item</List.Item>
        </List.Unordered>
    </section>

    <section aria-label="Basic ordered list" data-testid="ordered-basic">
        <List.Ordered>
            <List.Item>First step</List.Item>
            <List.Item>Second step</List.Item>
            <List.Item>Third step</List.Item>
        </List.Ordered>
    </section>
</main>
