@page "/component/compliance/table/hover"
@using Hviktor.Components.Table

<main data-testid="compliance-container">
    <section aria-label="Table without hover effect">
        <Table Id="table-no-hover" data-testid="no-hover">
            <caption>Table without hover effect</caption>
            <Table.Head>
                <Table.Row>
                    <Table.HeaderCell scope="col">Name</Table.HeaderCell>
                    <Table.HeaderCell scope="col">Value</Table.HeaderCell>
                </Table.Row>
            </Table.Head>
            <Table.Body>
                <Table.Row>
                    <Table.Cell>Item 1</Table.Cell>
                    <Table.Cell>Value 1</Table.Cell>
                </Table.Row>
                <Table.Row>
                    <Table.Cell>Item 2</Table.Cell>
                    <Table.Cell>Value 2</Table.Cell>
                </Table.Row>
            </Table.Body>
        </Table>
    </section>

    <section aria-label="Table with hover effect">
        <Table Id="table-hover" Hover="true" data-testid="hover">
            <caption>Table with row hover effect</caption>
            <Table.Head>
                <Table.Row>
                    <Table.HeaderCell scope="col">Name</Table.HeaderCell>
                    <Table.HeaderCell scope="col">Value</Table.HeaderCell>
                </Table.Row>
            </Table.Head>
            <Table.Body>
                <Table.Row>
                    <Table.Cell>Item 1</Table.Cell>
                    <Table.Cell>Value 1</Table.Cell>
                </Table.Row>
                <Table.Row>
                    <Table.Cell>Item 2</Table.Cell>
                    <Table.Cell>Value 2</Table.Cell>
                </Table.Row>
            </Table.Body>
        </Table>
    </section>
</main>
