@using Hviktor.Components.Field
@using Hviktor.Components.Select
@using Hviktor.Components.Typography

<Field>
    <Label>Select a mountain</Label>
    <Select defaultValue="">
        <Select.Option value="" disabled>
            Select a mountain &hellip;
        </Select.Option>
        <Select.Option value="everest">Mount Everest</Select.Option>
        <Select.Option value="aconcagua">Aconcagua</Select.Option>
        <Select.Option value="denali">Denali</Select.Option>
        <Select.Option value="kilimanjaro">Kilimanjaro</Select.Option>
        <Select.Option value="elbrus">Elbrus</Select.Option>
        <Select.Option value="vinson">Mount Vinson</Select.Option>
        <Select.Option value="puncakjaya">Puncak Jaya</Select.Option>
        <Select.Option value="kosciuszko">Mount Kosciuszko</Select.Option>
    </Select>
</Field>