@using Hviktor.Components.Field
@using Hviktor.Components.Select
@using Hviktor.Components.Typography

<Field>
    <Label>Select a mountain</Label>
    <Select disabled>
        <Select.Option value="blank">Select &hellip;</Select.Option>
        <Select.Option value="everest">Mount Everest</Select.Option>
    </Select>
</Field>
