@using Hviktor.Components.Field
@using Hviktor.Components.Select
@using Hviktor.Components.Typography

<Field>
    <Label>Select a park</Label>
    <Select>
        <Select.Optgroup label="Grünerløkka">
            <Select.Option value="sofienbergparken">
                Sofienberg Park
            </Select.Option>
            <Select.Option value="birkelunden">Birkelunden</Select.Option>
            <Select.Option value="olafryesplass">Olaf Ryes Plass</Select.Option>
        </Select.Optgroup>
        <Select.Optgroup label="City centre">
            <Select.Option value="slottsparken">The Palace Park</Select.Option>
            <Select.Option value="studenterlunden">Studenterlunden</Select.Option>
        </Select.Optgroup>
        <Select.Optgroup label="Old Oslo">
            <Select.Option value="botsparken">Botsparken</Select.Option>
            <Select.Option value="klosterenga">Klosterenga Park</Select.Option>
        </Select.Optgroup>
    </Select>
</Field>